*{
	margin: 0px;
	padding: 0px;
}

div#main{
	margin: auto;
	margin-top: 50;
	width: 800;
	height:860;
	background:white;
}

div#header{
	margin: auto;
	margin-top: 50;
	width: 800;
	height:190;
	background: #00897B;
}

div#photo{
	margin: auto;
    margin-top: 0;
    width: 198;
    height: 190;
    /*background: red;*/
}

div#info{
	margin: auto;
    margin-top: 20;
    margin-left: 50;
    width: 500;
    height: 190;
    /*background: blue;*/
}

#profile{
	margin-left: 30;
	margin-top: 10;
	height: 205;
	width: 200;
}

h1{
	font-family: 'Oswald', sans-serif;
	color:FFFFFF;
}

h5{
	font-family: 'Roboto', sans-serif;
	color:#E2E2E2;
}

p{
	font-family: 'Roboto', sans-serif;
	color:#E2E2E2;
	font-size: 75%;
	margin-top: 60px

}

td#phone-number{
	padding-left: 50px;

}

td#email{
	padding-left: 50px;

}


td#profile-icon{
	padding-left: 250px;
	padding-top: 5px;
	color: #00695C;
	font-size: 25;
}

p#profile-info{
	font-family: 'Roboto', sans-serif;
	color:#E2E2E2;
	font-size: 75%;
	margin-top: 3px;
	margin-left: 15px;
	color: #767676;
}

h3{
	font-family: 'Oswald', sans-serif;
	color: 006965;
}


article{
	margin-top: 50px;
	margin-left: 30px;

}

p#info{
	font-family: 'Roboto', sans-serif;
	color:#000000;
	font-size: 80%;
	margin-top: 8px;
	margin-left: 0px;
	}

p#colon-info{
	font-family: 'Roboto', sans-serif;
	color:#767676;
	font-size: 80%;
	margin-top: 8px;
	margin-left: -50px;
	}

p#sub-colon-info{
	font-family: 'Roboto', sans-serif;
	color:#767676;
	font-size: 80%;
	margin-top: 8px;
	margin-left: 0px;
	}

p#sub-info{
	font-family: 'Roboto', sans-serif;
	font-size: 75%;
	margin-top: 3px;
	margin-left: 0px;
	color: #767676;
}

p#description{
	font-family: 'Roboto', sans-serif;
	font-size: 75%;
	margin-top: 3px;
	margin-left: 0px;
	color: #000000;
}

p#date{
	font-family: 'Roboto', sans-serif;
	font-size: 65%;
	margin-top: 3px;
	margin-left: 0px;
	color: #BBBBBB;*
}

td#left-column{
	width: 400px
}


table#course{
	margin-top: -20px;
}

td#language{
	padding-left: 30px;
}

td#web{
	padding-left: 170px;
}

td#information{
	padding-left: 200px;
}


p#web-info{
	font-family: 'Roboto', sans-serif;
	color:#767676;
	font-size: 80%;
	margin-top: 8px;
	margin-left: -60px;
}

p#other-info{
	font-family: 'Roboto', sans-serif;
	color:#767676;
	font-size: 80%;
	margin-top: 8px;
	margin-left: -128px;
}

p#text-card{
	font-family: 'Roboto', sans-serif;
	color:#000000;
	font-size: 80%;
	margin-left: 20px;
	margin-top: 20px;
}

div#skills{
	margin-left: 30px;	
}

.container{
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: auto;

}

.container .card{
	width: 200px;
	height: 100px;
	border-radius: 8px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin-left:30px;
	margin-top: 10px;
	margin-right: 20px;
	text-align: left;
	transition: all 02.5s;
}

.container .card{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .long-card{
	width: 450px;
	height: 100px;
	border-radius: 8px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin-left:30px;
	margin-top: 10px;
	margin-right: 20px;
	text-align: left;
	transition: all 02.5s;
}

.container .long-card{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}